/** @format */

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.heading h1 {
	color: purple;
	margin: 0;
}

.add-todo-form {
	margin: 0 auto;
}

.add-todo-form input {
	display: block;
	width: 100%;
	padding: 10px;
	font-family: initial;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

.add-todo-form button {
	padding: 10px;
	width: 100%;
	background-color: rgb(108, 219, 108);
	border: none;
	cursor: pointer;
}

.todo-section {
	width: 400px;
	margin: 0 auto;
	border-top: 1px solid #ddd;
	padding-top: 10px;
}

.todo-block {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: left;
  padding: 10px;
  display: flex;
  align-items: center;
}

.todo-block label {
  width: 100%;
  margin-left: 10px;
  margin-top: 2px;
}

.todo-block input:checked ~ label {
  text-decoration: line-through;
}
